@import "App/variables.scss";

.avatar {
  width: 6em;
  height: 6em;
  min-height: 6em;
  min-width: 6em;
  //   background-color: red;
  // border: 3px solid $rm-secondary-color;
  // border-left: 2px solid blue;
  margin: 0 calc(1.5 * #{$padding});
  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    padding: calc(0.5 * #{$padding});
    margin-left: calc(0.7 * #{$margin});
  }
}

.rickMortyBorder {
  border-left: 3px solid $rick-morty-color;
}

.marvelBorder {
  border-left: 3px solid $marvel-color;
}

.pokemonsBorder {
  border-left: 3px solid $pokemons-color;
}
