@import "App/variables.scss";

.wrapper {
  margin-left: $default-nav-width;
  padding: 5em 5em;
  height: 100%;
}

.cards {
  // flex
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  // color: $default-font-color;
  font-size: 1.6em;

  margin: calc(2 * #{$margin}) auto 0 auto;
}

.text {
  margin-top: 0.35em;
  color: $el-text-color;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
