@import "App/variables.scss";

@mixin title {
  text-align: center;

  font-size: 4em;
  padding: 2em;
}

.light {
  @include title;

  color: $light-color;
}

.dark {
  @include title;

  color: $dark-color;
}
