@import "App/variables.scss";

@mixin title {
  text-align: left;

  font-size: 3em;
  padding-left: 1em;
}

.rickMortyBorder {
  border-left: 2px solid $rick-morty-color;
}

.marvelBorder {
  border-left: 2px solid $marvel-color;
}

.pokemonsBorder {
  border-left: 2px solid $pokemons-color;
}

.light {
  @include title;
  color: $light-color;
}

.dark {
  @include title;

  color: $dark-color;
}
