$sw-primary-color: #000;
$sw-secondary-color: #ffe81f;

$rm-primary-color: #325659;
$rm-secondary-color: #97ce4c;

$bgc-color: #1e232c;
$default-font-color: #fff;

// size
$font-size: 10px;
$padding: 1em;
$margin: 1em;
