// Rick & Morty
$rick-morty-color: #97d652;

// Marvel
$marvel-color: #dd2030;

// Pokemons
$pokemons-color: #285993;

// $bgc-color: #1e232c;
// $default-font-color: #fff;

// NAV
$default-nav-width: 8em;

// default variables
$el-text-color: #a2adbe;
$box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

// size
$font-size: 10px;
$padding: 1em;
$margin: 1em;

// LIGHT THEME
$light-bgc: #f5f6fa;
$light-el-bgc: #fff;
$light-color: #000;

// dark THEME
$dark-bgc: #38373c;
$dark-el-bgc: #000;
$dark-color: #fff;
