@import "../../App//variables.scss";

@mixin nav-properties {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // color: $default-font-color;
  // background-color: $rm-primary-color;
  box-shadow: $box-shadow;

  // font-size: 2em;
  width: 8em;
  height: 100vh;
}

.closeBtn {
  width: 50%;
  margin: 0 auto 1em auto;

  &Image {
    width: 100%;
    padding-top: 1em;

    border-top: 0.1em solid $el-text-color;
  }
}

.logo {
  text-align: center;
  margin-top: calc(2 * #{$margin});

  &FirstWord {
    font-size: 2.5em;
  }

  &SecondWord {
    font-size: 1.4em;
  }
}

.links {
  // parent flex
  flex-grow: 2;
  // flex
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ICONS SPECYFIC COLOR ON ACTIVE/HOVER
.linkPokemons:hover {
  border-left: 2px solid $pokemons-color;
}

.linkActivePokemons {
  border-left: 2px solid $pokemons-color;

  background-color: rgba($pokemons-color, 0.3);
}

.linkActiveRickMorty {
  border-left: 2px solid $rick-morty-color;

  background-color: rgba($rick-morty-color, 0.3);
}

.linkRickMorty:hover {
  border-left: 2px solid $rick-morty-color;
}

.linkActiveMarvel {
  border-left: 2px solid $marvel-color;

  background-color: rgba($marvel-color, 0.3);
}

.linkMarvel:hover {
  border-left: 2px solid $marvel-color;
}

// .linkHref:hover {
//   border: 1px solid blue;
// }

.link {
  // flex
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 6em;
}

.linkIcon {
  height: 3em;
  width: 3em;
}

.lightNav {
  @include nav-properties;
  background-color: $light-el-bgc;
  color: $light-color;

  .linkIcon {
    // border: 0.5em solid red;
  }

  .logo {
    color: $light-color;
  }

  .closeBtn {
    // @include close-btn;
    background-color: $light-el-bgc;

    &Image {
      // background-color: $light-el-bgc;
    }
  }
}

.darkNav {
  @include nav-properties;
  background-color: $dark-el-bgc;
  color: $dark-color;

  .linkIcon {
    // border: 0.5em solid blue;
  }

  .logo {
    color: $dark-color;
  }

  .closeBtn {
    background-color: $dark-el-bgc;
  }
}
