@import "../../App//variables.scss";

@mixin nav-properties {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // color: $default-font-color;
  // background-color: $rm-primary-color;
  box-shadow: $box-shadow;

  // font-size: 2em;
  width: 8em;
  height: 100vh;
}

.modalBtn {
  width: 50%;
  margin: 0 auto 1em auto;

  &Image {
    width: 100%;
    padding-top: 1em;

    border-top: 0.1em solid $el-text-color;
  }
}

.logo {
  text-align: center;
  margin-top: calc(2 * #{$margin});

  &FirstWord {
    font-size: 2.5em;
  }

  &SecondWord {
    font-size: 1.4em;
  }
}

.links {
  // parent flex
  flex-grow: 2;
  // flex
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ICONS SPECYFIC COLOR ON ACTIVE/HOVER
.linkPokemons:hover {
  border-left: 2px solid $pokemons-color;
}

.linkActivePokemons {
  border-left: 2px solid $pokemons-color;

  background-color: rgba($pokemons-color, 0.3);
}

.linkActiveRickMorty {
  border-left: 2px solid $rick-morty-color;

  background-color: rgba($rick-morty-color, 0.3);
}

.linkRickMorty:hover {
  border-left: 2px solid $rick-morty-color;
}

.linkActiveMarvel {
  border-left: 2px solid $marvel-color;

  background-color: rgba($marvel-color, 0.3);
}

.linkMarvel:hover {
  border-left: 2px solid $marvel-color;
}

// .linkHref:hover {
//   border: 1px solid blue;
// }

.link {
  // flex
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 6em;
}

.linkIcon {
  height: 3em;
  width: 3em;
}

.lightNav {
  @include nav-properties;
  background-color: $light-el-bgc;
  color: $light-color;

  .linkIcon {
    // border: 0.5em solid red;
  }

  .logo {
    color: $light-color;
  }

  .modalBtn {
    // @include close-btn;
    background-color: $light-el-bgc;

    &Image {
      // background-color: $light-el-bgc;
    }
  }
}

.darkNav {
  @include nav-properties;
  background-color: $dark-el-bgc;
  color: $dark-color;

  .linkIcon {
    // border: 0.5em solid blue;
  }

  .logo {
    color: $dark-color;
  }

  .modalBtn {
    background-color: $dark-el-bgc;
  }
}

@media (max-width: 991.98px) {
  .darkNav,
  .lightNav {
    position: static;
    // flex
    flex-direction: row;
    align-items: flex-start;

    background-color: inherit;
    box-shadow: none;

    height: 10em;
    width: 100%;

    .links {
      flex-direction: row;
      flex-grow: 0;

      width: 50%;
      margin-top: 5em;

      .linkActivePokemons,
      .linkActiveRickMorty,
      .linkActiveMarvel {
        border-left: none;
        background-color: transparent;
      }
      .linkActivePokemons {
        border-bottom: 3px solid $pokemons-color;
      }

      .linkActiveMarvel {
        border-bottom: 3px solid $marvel-color;
      }

      .linkActiveRickMorty {
        border-bottom: 3px solid $rick-morty-color;
      }

      .link {
        margin: 0 1.5em;
        height: 5em;
      }
    }

    .logo {
      margin: 1em;
      padding: 0;
    }

    .modalBtn {
      background-color: transparent;
      width: 3em;
      margin: 1em;
      padding: 0;

      &Image {
        border: none;
        padding: 0;
      }
    }
  }
}

// // Small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) { ... }

// // Medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) { ... }

// // Large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) { ... }
